.SearchBox {
    background: rgba(232, 210, 160, 0.377);
    padding:20px;
}

.InputItem {
    border-radius:0;
}

.SearchField {
    margin:5px;
 
}


.BorderLeft {
    border-left: 1px solid #E9C458;
    border-top: 1px solid #E9C458;
    border-bottom: 1px solid #E9C458;
    margin:0;
}

.BorderMiddle {
    border-top: 1px solid #E9C458;
    border-bottom: 1px solid #E9C458;
    margin:0;
}

.BorderRight{
    border-right: 1px solid #E9C458;
    border-top: 1px solid #E9C458;
    border-bottom: 1px solid #E9C458;
    margin:0;
}

.noSpace {
    padding:0;
    margin:0;
}

.DropDownStyle {
    height: 100%;
}

.OrganisationImage{
    height: 100px;
    width: 100px;
    background:White;
    border: 1px solid black;
    float: left;
    margin: 10px;
}

.SearchResultListObject
{
    margin-right: 0;
    padding-right: 0;
    margin-top:10px;
    background: rgba(232, 210, 160, 0.377);
}