.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #6A0002;
  padding: 20px;
  padding-top: 70px;
  padding-bottom: 0;
  color: white;
}

.App-title {
  font-size: 4em;
  font-family: 'Lobster', cursive;
  color: #E9C458;
}

.App-intro {
  font-size: large;
}

.linkColor {
  color: #E8D2A0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
