.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(15, 15, 15);
  padding: 20px;
  padding-top: 70px;
  padding-bottom: 0;
  color: white;
}

.App-title {
  font-size: 4em;
  font-family: 'Lobster', cursive;
  color: rgb(230, 197, 14);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
